.parallax {
    background-image: url('https://cdn.pixabay.com/photo/2016/11/18/17/46/house-1836070_960_720.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}